//--------------------------------IMPORTS
@import "./variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');




//--------------------------------MIXINS
@mixin flexCenter($justify, $direction, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}




//--------------------------------GENERAL
body {
    margin: 0;
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background-color: #ffe0d61a;

    @media screen and (max-width: $medium) {
        padding: 15px;
    }
}

* {
    box-sizing: border-box;
}

main {
    width: 65%;
    position: relative;
    @include flexCenter(center, row, flex-start);
    display: table;
    overflow: hidden;

    margin-left: auto;
    margin-right: auto;

    background-color: $secondaryColor;
    box-shadow: 0px 0px 20px 0px #7a7a7a47;

    @media screen and (max-width: $x-large) {
        width: 75%;
    }

    @media screen and (max-width: $medium) {
        width: 90%;
    }

    @media screen and (max-width: $small) {
        @include flexCenter(flex-start, column, center);
        box-shadow: none;
    }
}




//--------------------------------GENERAL
aside {
    width: 30%;
    height: 100%;
    display: table-cell;
    position: absolute;
    left: 0;
    top: 0;
    background-color: $primaryColor;

    @media screen and (max-width: $x-large) {
        width: 220px;
    }

    @media screen and (max-width: $small) {
        width: 100%;
        position: relative;
    }

    >.aside-content {
        height: 100%;
        @include flexCenter(space-between, column, center);
    }

    .aside-content__part {
        width: 100%;
    }

    h3 {
        height: 30px;
        padding: 5px 0;
        text-align: center;
        text-transform: uppercase;
        font-weight: 400;
        color: $primaryColor;
        background-color: $secondaryColor;
    }

    p {
        margin: 0;
    }

    a {
        text-decoration: none;
        color: black;
    }

    i {
        margin: 10px 5px 0 5px;
        font-size: 30px;
        color: $secondaryColor;
    }

    img {
        width: 150px;
        height: auto;
        border-radius: 50%;
        border: 3px solid rgb(255, 151, 119);
    }

    .picture {
        margin-top: 10px;
        text-align: center;
    }

    .picture,
    .infos-content,
    .about-content,
    .hobbis-content {
        padding: 10px 40px;
    }

    .info {
        margin-top: 10px;
        font-style: italic;
        font-weight: 500;
    }

    .infos-content {
        @media screen and (max-width: $small) {
            text-align: center;
        }
    }

    .hobbis-content {
        @include flexCenter(space-between, row, flex-start);
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
}




//--------------------------------SUBSTITUTE
.aside-substitute {
    width: 220px;
}




//--------------------------------SECTION
section {
    width: 70%;
    display: table-cell;
    padding: 40px;
    background-color: $secondaryColor;

    @media screen and (max-width: $small) {
        width: 100%;
        position: relative;
    }




    //--------------------------------TITLES & DIVIDERS
    h1 {
        margin: 0;
        text-transform: uppercase;
        font-size: 40px;
        font-weight: 500;

        mark {
            color: $primaryColor;
            background-color: transparent;
        }
    }

    #job-title {
        margin: 0;
        font-size: 15px;
        font-weight: 600;
    }

    hr {
        border: 1px solid $primaryColor;
    }

    #hr-title {
        width: 50px;
        display: inline-block;
        margin: 0 0 70px 0;
        padding: 0;
        text-align: left;
    }

    .main-title {
        @include flexCenter(flex-start, row, center);

        i {
            margin: 0 0 0 5px;
            font-size: 30px;
            color: $primaryColor;
        }

        h2 {
            margin: 0 0 0 20px;
            text-transform: uppercase;
            font-weight: 400;
        }
    }




    //--------------------------------FORMATION & EXPERIENCE
    .diploma,
    .experience {
        @include flexCenter(flex-start, row, flex-start);
        margin: 20px 0 20px 0;

        h3 {
            margin: 0;
            text-transform: uppercase;
            font-weight: 500;
        }

        i {
            margin: 10px 20px 0 20px;
            font-size: 10px;
            color: $primaryColor;
        }

        &-content {
            margin-left: 10px;

            p {
                margin-top: 0;
            }
        }

        &-dates {
            margin-bottom: 20px;

            p {
                margin: 0 50px 0px 0;
            }
        }

        &-school,
        &-firm {
            margin: 0 0 5px 0;
            font-style: italic;
        }

        @media screen and (max-width: $large) {
            flex-wrap: wrap;
        }
    }




    //--------------------------------REFERENCES
    .reference {
        @include flexCenter(space-around, row, flex-start);
        text-align: center;

        p:not(:first-child) {
            margin: 0;
        }

        &-name {
            text-transform: uppercase;
            font-weight: 600;
        }

        &-firm {
            font-style: italic;
        }


        @media (min-width:$small) and (max-width: $small + 200) {
            @include flexCenter(flex-start, column, center);
        }

        @media screen and (max-width: $small - 100) {
            @include flexCenter(flex-start, column, center);
        }
    }
}