@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
body {
  margin: 0;
  padding: 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  background-color: #ffe0d61a;
}
@media screen and (max-width: 1024px) {
  body {
    padding: 15px;
  }
}

* {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  display: table;
  width: 65%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  box-shadow: 0px 0px 20px 0px #7a7a7a47;
}
@media screen and (max-width: 1300px) {
  main {
    width: 75%;
  }
}
@media screen and (max-width: 1024px) {
  main {
    width: 90%;
  }
}
@media screen and (max-width: 650px) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: none;
  }
}

aside {
  position: absolute;
  left: 0;
  top: 0;
  display: table-cell;
  width: 30%;
  height: 100%;
  background-color: #FFAB91;
}
@media screen and (max-width: 1300px) {
  aside {
    width: 220px;
  }
}
@media screen and (max-width: 650px) {
  aside {
    position: relative;
    width: 100%;
  }
}
aside > .aside-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  display: flex;
  height: 100%;
}
aside .aside-content__part {
  width: 100%;
}
aside h3 {
  height: 30px;
  padding: 5px 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  color: #FFAB91;
  background-color: #fff;
}
aside p {
  margin: 0;
}
aside a {
  text-decoration: none;
  color: black;
}
aside i {
  margin: 10px 5px 0 5px;
  font-size: 30px;
  color: #fff;
}
aside img {
  width: 150px;
  height: auto;
  border-radius: 50%;
  border: 3px solid #ff9777;
}
aside .picture {
  margin-top: 10px;
  text-align: center;
}
aside .picture,
aside .infos-content,
aside .about-content,
aside .hobbis-content {
  padding: 10px 40px;
}
aside .info {
  margin-top: 10px;
  font-style: italic;
  font-weight: 500;
}
@media screen and (max-width: 650px) {
  aside .infos-content {
    text-align: center;
  }
}
aside .hobbis-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.aside-substitute {
  width: 220px;
}

section {
  display: table-cell;
  width: 70%;
  padding: 40px;
  background-color: #fff;
}
@media screen and (max-width: 650px) {
  section {
    position: relative;
    width: 100%;
  }
}
section h1 {
  margin: 0;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 500;
}
section h1 mark {
  color: #FFAB91;
  background-color: transparent;
}
section #job-title {
  margin: 0;
  font-size: 15px;
  font-weight: 600;
}
section hr {
  border: 1px solid #FFAB91;
}
section #hr-title {
  display: inline-block;
  width: 50px;
  margin: 0 0 70px 0;
  padding: 0;
  text-align: left;
}
section .main-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
section .main-title i {
  margin: 0 0 0 5px;
  font-size: 30px;
  color: #FFAB91;
}
section .main-title h2 {
  margin: 0 0 0 20px;
  text-transform: uppercase;
  font-weight: 400;
}
section .diploma,
section .experience {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 20px 0 20px 0;
}
section .diploma h3,
section .experience h3 {
  margin: 0;
  text-transform: uppercase;
  font-weight: 500;
}
section .diploma i,
section .experience i {
  margin: 10px 20px 0 20px;
  font-size: 10px;
  color: #FFAB91;
}
section .diploma-content,
section .experience-content {
  margin-left: 10px;
}
section .diploma-content p,
section .experience-content p {
  margin-top: 0;
}
section .diploma-dates,
section .experience-dates {
  margin-bottom: 20px;
}
section .diploma-dates p,
section .experience-dates p {
  margin: 0 50px 0px 0;
}
section .diploma-school, section .diploma-firm,
section .experience-school,
section .experience-firm {
  margin: 0 0 5px 0;
  font-style: italic;
}
@media screen and (max-width: 1170px) {
  section .diploma,
section .experience {
    flex-wrap: wrap;
  }
}
section .reference {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  text-align: center;
}
section .reference p:not(:first-child) {
  margin: 0;
}
section .reference-name {
  text-transform: uppercase;
  font-weight: 600;
}
section .reference-firm {
  font-style: italic;
}
@media (min-width: 650px) and (max-width: 850px) {
  section .reference {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
@media screen and (max-width: 550px) {
  section .reference {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
